* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1240px;
  padding: 0 15px;
}

body {
  font-family: sans-serif;
}

@media (max-width: 302px) {
  .container {
    width: 302px;
    margin: 0 auto;
  }
}
